* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-family: 'News Cycle', sans-serif;
}

body{
    width: 1000px;
    margin: auto;
}


/*HEADER*/

header{
    width: 100%;
}
h1{
    display: inline-block;
    width: auto;
    height: 55px;
    padding-left: 10%;
}

nav{
    display: inline-block;
    height: 50px;

}
ul {

    margin-bottom: 1em;
    display:inline-block;
}
li{
    height: 30px;
    display: inline-block;
    text-transform: uppercase;
    margin: 1em 0;
    list-style: none;
}
.selected{
    color: #27ae61;
}


/*MAIN*/

h2{
    font-size: 3em;
}
h3{
    font-size: 22px;
    font-weight: lighter;
}
img{
    border-radius: 50%;
    height: 160px;
    width: 160px;
    margin: 1em;
}
article{
    width: 100%;
    text-align: center;
    padding: 6em;
}
#article1{
    background:url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#article1, #article3{
    background-color: #27ae61;
    color: white;
}
p{
    padding: 1.5em 0;
    font-size: 22px;
}
#article1 button{
    background-color: #2b3f48;
    padding: 1em 3em;
    border: 1px solid #2b3f48;
    border-radius: 5px;
    color:white;
    text-transform: uppercase;
}
#article2 button{
    background-color: #27ae61;
    padding: 1em 3em;
    border: 1px solid #27ae61;
    border-radius: 5px;
    color:white;
    text-transform: uppercase;
}
#article3 button{
    background-color: white;
    padding: 1em 3em;
    border: 1px solid white;
    border-radius: 5px;
    color:#27ae61;
    text-transform: uppercase;
}
footer{
    text-align: center;
    padding: 4em;
    text-transform: uppercase;
}
