* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 70%;
    margin: auto;
}
header{
    width: 100%;
display:flex;
}
h1{
    width: 30%;
    padding-left: 5em;
}
h2{
    font-size: 3em;

}
p{
    padding: 1.5em 0;
}
h3{
    font-weight: lighter;

}
ul{
        display: inline-block;
}
li{
    display: inline-block;
    text-transform: uppercase;
    margin: 1em;
}
.selected{

    color: #27ae61;
}
main{

}
img{
    border-radius: 50%;
    height: 160px;
    width: 160px;
    margin: 1em;
}
article{
    width: 100%;
    text-align: center;
    padding: 6em;
}
#article1 button{
    background-color: #2b3f48;
    padding: 1em 3em;
    border: 1px solid #2b3f48;
    border-radius: 5px;
    color:white;
    text-transform: uppercase;

}
#article2 button{
    background-color: #27ae61;
    padding: 1em 3em;
    border: 1px solid #27ae61;
    border-radius: 5px;
    color:white;
    text-transform: uppercase;
}


#article3 button{
    background-color: white;
    padding: 1em 3em;
    border: 1px solid white;
    border-radius: 5px;
    color:#27ae61;
    text-transform: uppercase;
}

#article1{
    background:url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#article1, #article3{
    background-color: #27ae61;
    color: white;
}
footer{

    text-align: center;
    padding: 4em;
    text-transform: uppercase;
}
